Arquivos de Segredos e Ambiente
.streamlit/secrets.toml
*.env

Arquivos de Cache e Temporários do Python
pycache/
*.pyc
*.pyo
*.pyd

Arquivos de Banco de Dados local (se usar novamente)
*.db

*.sqlite3

